img {
    border: 3px solid yellow;
    border-radius: 80px;
    width: 80px;
}

.user-div {
    float: left;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
}